*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}


.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.full-width{
  width: 100%;
}

.h100{
  height: 100%;
}

.navBar{
  z-index: 1;
  position: fixed;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.39);
  padding: 0 32px;
  height: 10%;
}

.imageLogo{
  width: auto;
  height: 40%;
}

.links{
  width: 50%;
  margin-left: 20%;
}


.linksi{
  text-decoration: none;
  color: #fff;
  font-size: 80%;
  cursor: pointer;
  font-style: italic;
  transition: transform 0.2s ease-in-out;
}

.linksi:hover{
  color: #c87af8;
  transform: scale(1.2);
}

.ethnavprice{
  width: 130px;
  height: 38%;
  font-size: 0.7rem;
  font-weight: 600;
  color: #fff;
  border: 1px solid #c87af8;
  border-radius: 5px;
  padding: 5px 10px;
}

.ethIconeNavPrice{
  height: 90%;
  width: auto;
  transform: translateY(0px);
  animation: rotate 3.5s ease-in-out infinite
}


.home{
  height: 120vh;
 background: #c87af8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #000000, #161517, #392446, #c87af8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #000000, #150d1a, #392446, #c87af8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.rodaFlutuanteHero{
  position: absolute;
  top: 20%;
  left: -3%;
  width: auto;
  height: 70%;
  transition: 1s;
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.ethFlutuanteHero{
  position: absolute;
  top: 43%;
  left: 25%;
  width: auto;
  height:30%;
  animation: float 3.5s ease-in-out infinite;
}

.cuboFlutuante0{
  position: absolute;
  top: 85vh;
  left: -5%;
  width: auto;
  height:20%;
  animation: floatcubo0 4s ease-in-out infinite;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.cuboFlutuante1{
  position: absolute;
  top: 100vh;
  left: 5%;
  width: auto;
  height:20%;
  animation: floatcubo1 4s ease-in-out infinite;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.cuboFlutuante2{
  position: absolute;
  top: 115vh;
  left: 15%;
  width: auto;
  height:30%;
  animation: floatcubo2 4s ease-in-out infinite;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(3px);
}

.cuboFlutuante3{
  position: absolute;
  top: 130vh;
  left: 30%;
  width: auto;
  height:40%;
  animation: float 4s ease-in-out infinite;

}

.bg1ToDesktop{
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
}

.bg1ToMobile{
  width: 100%;
  height: 100%;
  display: none;
  object-fit: cover;
}

.firstContent{
  position: absolute;
  right: 2%;
  top: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.firstContentSpan{
  background-color: rgba(234, 0, 255, 0.469);
  background-image: linear-gradient(45deg, #ffffff, #282526);
  background-size: 100%;
  background-repeat: repeat;
  transition: 1s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.firstContentSpan:hover{
  background-color: rgba(234, 0, 255, 0.469);
  background-image: linear-gradient(45deg, #c87af8, #282526);
}


.aboutEth{
  height: 100vh;
  background: #c87af8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #000000, #392446, #c87af8); 
  background: linear-gradient(to top, #000000, #392446, #c87af8); 
}

.menuHamburguer{
  color: white;
  display: none;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

@keyframes float{
  0%{
    transform: translateY(0%);
  }
  50%{
    transform: translateY(-20%);
    
  }
  100%{
    transform: translateY(0%);
  }
}

@keyframes floatcubo0{
  0%{
    transform: translateY(0%);
  }
  50%{
    transform: translateY(-45%);
    
  }
  100%{
    transform: translateY(0%);
  }
}

@keyframes floatcubo1{
  0%{
    transform: translateY(0%);
  }
  50%{
    transform: translateY(-30%);
  }
  100%{
    transform: translateY(0%);
  }
}

@keyframes floatcubo2{
  0%{
    transform: translateY(0%);
  }
  50%{
    transform: translateY(-25%);
  }
  100%{
    transform: translateY(0%);
  }
}

@keyframes rotate{
  0%{
    transform: translateY(0%);
  }
  50%{
    transform: scaleX(-1);
  }
  100%{
    transform: translateY(0%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  from {
    color: #55cdff;
  }
  to {
    color: #c87af8;
  }
}

::-webkit-scrollbar {
  width: 0px;

}


@media screen and (max-width: 768px){

  .ethFlutuanteHero{
    position: absolute;
    top: 18%;
    left: 40%;
    width: auto;
    height: 20%;
    animation: float 3.5s ease-in-out infinite;
  }

    .navBar{
      background-color: #000000c8;
    }

    .menuHamburguer{
      display: flex;
    }

  .links{
    display: none;
  }

  .bg1ToDesktop{
    display: none;
  }
  .bg1ToMobile{
    display: flex;
  }

  .firstContent{
    font-size: 1rem;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }

  .firstContentSpan{
    background-color: rgba(0, 0, 0, 0.469);
    background-image: linear-gradient(45deg, #ffffff, #090909f8);
    background-size: 100%;
    background-repeat: repeat;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}