*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
}

body{
  background-color: #000;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.full-width{
  width: 100%;
}

.h100{
  height: 100%;
}

.navBar{
  z-index: 1000;
  backdrop-filter: saturate(180%) blur(10px);
  position: fixed;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.494);
  padding: 0 32px;
  height: 10%;
  
}

.imageLogo{
  height: auto;
  width: 12%;
}

.links{
  width: 40%;
  margin-left: 20%;
}


.linksi{
  text-decoration: none;
  color: #fff;
  font-size: 80%;
  cursor: pointer;
  font-style: italic;
  transition: transform 0.2s ;
}

.linksi:hover{
  color: #c87af8;
  transform: scale(1.2);
}

.ethnavprice{
  width: 200px;
  height: 50%;
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
  border: 1px solid #c87af8;
  border-radius: 5px;
  animation: grow 2.5s;
  padding: 5px 10px;
}

.whitelogo{
  width: 80%;
  height: auto;
  filter: brightness(0) invert(1);
}

.ethIconeNavPrice{
  height: 60%;
  /*  */
  margin-left: 16px;
  margin-right: 2px;
  width: auto;
  transform: translateY(0px);
  animation: rotate 3.5s ease-in-out infinite
}




.gasIcon{
  color: orange;
  margin: 0px 8px;
}


.home{
  height: 100vh;
  background-color: #000000;
}


.animationEtherumHero{
  position: absolute;
  top: 25%;
  left: 23%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* overflow: hidden; */
  justify-content: center;
  z-index: 1;
  height: 25%;
  width: 20vh;
  /* background-color: red; */
}



.etherumdiv{
  animation: grow 2s ; 
}

.etherum{
  margin-top: 3vh;
  width: 75%;
  z-index: 1;
  height: auto;
  animation: float 2s ease-in-out infinite;
  filter: drop-shadow(5px 5px 5px #000000);
}

.baseetherum{
  top: -1vh;
  position: absolute;
  width: 200%;
  filter: drop-shadow(5px 5px 5px #000000);
  height: auto;
  animation: hide 2s ; 
}

.setaScroll{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 5%;
  animation: float 1s ease-in-out infinite;
}


.bg1ToDesktop{
  width: 100%;
  height: 100%;
  filter: brightness(50%) opacity(90%) ;
}

.player{
  position: absolute;
  bottom: -5vh;
  left: -0vh;
  background-color: #000;
  filter: drop-shadow(5px 5px 5px #000000);
  z-index: 100;
}

.firstContent{
  position: absolute;
  right: 5%;
  top: 37%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.8rem;
}

.firstContentSpan{
  background-color: rgba(234, 0, 255, 0.469);
  background-image: linear-gradient(45deg, #ffffff, #28252690);
  background-size: 100%;
  background-repeat: repeat;
  transition: 1s;
  -webkit-animation: hideon 2s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.youtubeButton{
  background-color:hsla(277,90%,72%,1);
  background-image:
  radial-gradient(at 40% 20%, hsla(277,90%,72%,1) 0px, transparent 50%),
  radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
  radial-gradient(at 0% 50%, hsla(180,89%,36%,1) 0px, transparent 50%),
  radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 50%),
  radial-gradient(at 0% 100%, hsla(180,89%,36%,1) 0px, transparent 50%),
  radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
  radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);
  -webkit-animation: hideonYt 2s;
  color: #fff;
  border: none;
  box-shadow: #000000;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 0.9rem;
  width: 250px;
  font-weight: 600;
  cursor: pointer;
  transition: 2s;
  margin-top: 20px;
}

.ytIcon{
  height: 30px;
  width: auto;
  margin-right: 10px;
}

.youtubeButton:hover{
  color: #ffffff;
  background-color:hsla(189,100%,56%,1);
  transform: scale(1.034);
}

.aboutEth{
  height: 100vh;
  background: #c87af8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #000000, #000000 ); 
  background: linear-gradient(to bottom,  #000000, #000000); 
}

.malhaflutuante1{
  position: absolute;
  top: 119vh;
  left: 15%;
  filter: drop-shadow(10px 10px 10px #222);
  width: auto;
  height:60%;
  animation: spin 3s ease-in-out infinite;
  z-index: 10;
}

.malhaflutuante2{
  position: absolute;
  top: 120vh;
  left: 15%;
  filter: drop-shadow(15px 10px 10px #222);
  width: auto;
  height:60%;
  animation: spinreverse 3s ease-in-out infinite;
  z-index: 5;
}


.textAboutEthManiacos{
  color: #fff;
  float: right;
  margin-top: 50px;
}

.menuHamburguer{
  color: white;
  display: none;
}

.bgInverter{
    transform: rotatex(180deg);
}

.endireitaEth{
  transform: rotatey(50deg);
}

.carroussel{
  border-radius: 16px;
  padding: 10px;
  color: white;
  position: absolute;
  top: 125vh;
  margin: 0 5% ;
  right: 0%;
  height: 50vh;
  align-items: initial;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  width: 46vw;
  font-size: 1rem;
  text-align: initial;
}

.carouselContent{
  margin-left: 40px;
  text-align: end;
  width: 80%;
}

.carroussel p {
  background-color: rgba(234, 0, 255, 0.469);
  background-image: linear-gradient(45deg, #ffffff, #919799);
  background-size: 100%;
  background-repeat: repeat;
  transition: 1s;
  -webkit-animation: hideon 2s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.carroussel h1{
  font-size: 1.5rem;
  margin-bottom: 2rem;
  
}

.graphics{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 120vh;
  padding: 30px 0;
  background: linear-gradient(270deg, #9d13dd, #000000, #007b88);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 18s ease infinite;
  -moz-animation: AnimationName 18s ease infinite;
  animation: AnimationName 18s ease infinite;
}

.marketCapDiv{
  width: 70%;
  display: flex;
  padding-left: 16px;
  padding-bottom: 10px;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
}

.marketCapSpan{
  width: 20%;
}

.marketCapLine{
  width: 100%;
  border-radius: 20%;
  margin-left: 0px;
  background-color: white;
  height: 2px;
  margin-right: 8px;
}

.principalGraphics{
  padding: 10px;
  background-color: #000000c9;
  width: 70%;
  height: 43%;
  border-radius: 16px;
}

.principalGraphicsContainer{
  height: 100%;
  padding: 5px;
}

.burnIcon{
  font-size: 2rem;
animation: rotate 3.5s ease-in-out infinite;
color: rgb(255, 128, 0);
}

.burnSpan{
  font-size: 1.7rem;
  font-weight: 500;
  color: rgb(255, 128, 0);
}

.box1{
  background:url(https://i.imgur.com/bYSnuNE.jpg?1);
  background-size:cover;
  border:2px solid #000;
  border-radius:50%;
  width:85px;
  height:80px;
  animation: movimiento 5s linear 0s infinite;
  box-shadow:0 0 25px RGBA(255,255,255, 0.10),
             -8px -8px 15px #000 inset,
             2px 2px 25px #000 inset,
             -45px -45px 25px RGBA(0,0,0, 0.5) inset, 
             25px 25px 45px RGBA(0,0,0, 0.45) inset;
  transform:rotateX(6deg) rotateY(6deg) rotateZ(6deg);
}

@keyframes movimiento {
  0% { background-position:0 0 }
  100% { background-position:355px 0 }
}

.iconLogo{
  display: none;
}

.openDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #aef4ff;
}

.openSpan{
  padding-bottom: 10px;
  font-size: 0.8rem;
}

.openPrice{
  font-weight: 500;
  font-size: 1.7rem;
}

.secondGraphicsDiv{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  height: 45%;
  width: 70%;
}

.burnDiv{
  height: 100%;
  width: 60%;
  flex-direction: column;
  border-radius: 10px;
  backdrop-filter: saturate(180%) blur(10px);
  
  background-color: #000000aa;
}

.thirdGraphicsDiv{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 40%;
  height: 100%;
}

.insideThird{
  backdrop-filter: saturate(180%) blur(10px);
  border-radius: 10px;
  height: 50%;
  width: 100%;
  background-color: #010007d0;
}

.supplyDiv{
  padding: 0px 20px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: center;
}

.supplySpan{
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 30px;
  color: rgb(144, 144, 200);
}

.realTimeMarketCap{
  color: rgb(93, 93, 210);
  font-size: 0.9rem;
}
.secondGraphics{
  margin-top: 24px;
  
  width: 60%;
  height: 10%;
}


.moneyIcon{
  font-size: 2rem;
  animation: rotate 2s infinite;  
}



.worldIcon{
  color:rgb(93, 93, 210) ;
  margin-left: 1rem;
}




.socialMedia{
  font-size: 3rem;
  padding: 10px 0;
}



.contentWhoWeAre {
  flex-direction: column;
  position: relative;
  background-image: url('../public/bg1&2.webp');
  filter: blur(1px) brightness(50%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}


.text-container {
  position: absolute;
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  color: white;
  text-align: center;
}

.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end) infinite,
    blink-caret .5s step-end infinite;
}

/* The typing effect */

.gauge {
  width: 50%;
  font-size: 40px;
  font-weight: 600;
  color: rgb(255, 128, 0);
}

.gauge__body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: #cbd8da;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gauge__fill {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: rgb(255, 128, 0);
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: transform 0.2s ease-out;
}

.gauge__cover {
  width: 75%;
  height: 150%;
  background: #000000;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);

  /* Text */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
}


.footer{
  height: 25vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background: linear-gradient(274deg, #c87af8, #210058, #210058, #020052, #ff55e2);
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 17s ease infinite;
  -moz-animation: AnimationName 17s ease infinite;
  animation: AnimationName 17s ease infinite;
}
@keyframes crawl {
  0% {
    top: -50px;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% { 
    top: -1000px;
    transform: rotateX(22deg) translateZ(-1500px);
  }
}




::-webkit-scrollbar {
  width: 0px;

}

.speedometer{
  width: 50%;
  margin-top: 40px;
}

@media screen and (max-width: 850px){
 
  .imageLogo{
    height: auto;
    width: 30%;
    display: none;
  }

  .iconLogo{
    height: 70%;
    width: auto;
  }

.animationEtherumHero{
  position: absolute;
  top: 12%;
  left: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* overflow: hidden; */
  justify-content: center;
  z-index: 1;
  height: 10rem;
  width: 13vh;
  /* background-color: red; */
}

.etherumdiv{
  animation: grow 2s ; 
}

.etherum{
  width: 70%;
  height: auto;
  animation: float 2s ease-in-out infinite;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  filter: drop-shadow(5px 5px 5px #000000);
}

.baseetherum{
  top: 6vh;
  position: absolute;
  width: 170%;
  filter: drop-shadow(5px 5px 5px #000000);
  height: auto;
  
  animation: hideon 2s ; 
}

  .firstContent{
    width: 100%;
    padding: 0px 3%;
    left: 0;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    top: 50%;
    color: black;
  }

  .setaScroll{
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    top: 95vh;
  }
  
  .youtubeButton{
    padding: 10px 20px;
    font-size: 0.7rem;
    width: 200px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
  }

    .navBar{
      background-color: #000000c8;
    }

    .menuHamburguer{
      display: flex;
    }

  .links{
    display: none;
  }


  .malhaflutuante1{
    position: absolute;
    top: 104vh;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50vw;
    height:auto;
    animation: spin 3s ease-in-out infinite;
    z-index: 1;
  }
  
  .malhaflutuante2{
    position: absolute;
    top: 105vh;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50vw;
    height:auto;
    animation: spinreverse 3s ease-in-out infinite;
    z-index: 0;
  }

  

  .carroussel{
    top: 120vh;
    margin: 0;
    width: 100vw;
    height: 80vh;
  }

  .carouselContent{
    margin-top: 100px;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .cuboFlutuante3{
    display: none;
  }

  .graphics{
    height: 170vh;
  }

  .marketCapDiv{
    flex-direction: column;
    align-items: center;
    width: 92%;
  }

  .marketCapSpan{
    width: 100%;
    padding: 5px 0;
  }

  .marketCapLine{
    width: 97%;
    padding: 0;
    margin-right: 10px;
  }

  .principalGraphics{
    width: 90%;
  }
  .graphicTitle{
    text-align: center;
    font-size: 0.7rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .secondGraphicsDiv{
    flex-direction: column;
    width: 100%;
  }

  .burnDiv{
    width: 80%;
    margin-bottom: 20px;
  }

  .burnSpan{
    font-size: 1rem;
  }

  .burnIcon{
    font-size: 1.5rem;
  }

  .thirdGraphicsDiv{
    flex-direction: column;
    width: 80%;
    margin-left: 0;
  }
  .secondGraphics{
    flex-direction: column;
    display: flex;
    width: 90%;
    height: 40%;
  }

 

  .secondGraphic{
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.572) 10px 5px 15px;
    margin-bottom: 16px;
  }

  .thirdGraphics{
    display: flex;
    align-items: center;
    width: 90%;
    height: 50%;
    overflow-x: auto;
    overflow-y:hidden ;
    padding-left: 24px;
  }

  .supplySpan{
    font-size: 1rem;
    margin-left: 1rem;
  }

  .box1{
    width: 50px;
    height: 50px;
  }





  .thirdGraphics::-webkit-scrollbar {
    width: 20px;
  
  }

  .cronometer{
    width: 50%;
  }

  .thirdGraphic{
    min-width: 90%;
    margin-right: 16px;
    height: 90%;
  }


 

  .text-container {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    color: white;
    text-align: center;
  }

  .h1typewriter{
    font-size: 1rem;
  }
}

@-webkit-keyframes bgGraphics {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes bgGraphics {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes bgGraphics {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@keyframes backgroundChanging{
  from{background-color:hsla(277,90%,72%,1);
    background-image:
    radial-gradient(at 40% 20%, hsla(277,90%,72%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(180,89%,36%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(180,89%,36%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);}
    to{
      background-color:#d199ff;
background-image:
radial-gradient(at 80% 38%, hsla(252,92%,60%,1) 0px, transparent 50%),
radial-gradient(at 16% 1%, hsla(13,95%,79%,1) 0px, transparent 50%),
radial-gradient(at 74% 46%, hsla(360,97%,77%,1) 0px, transparent 50%),
radial-gradient(at 70% 38%, hsla(274,63%,63%,1) 0px, transparent 50%),
radial-gradient(at 23% 79%, hsla(266,61%,69%,1) 0px, transparent 50%),
radial-gradient(at 1% 38%, hsla(257,68%,64%,1) 0px, transparent 50%),
radial-gradient(at 91% 41%, hsla(343,99%,66%,1) 0px, transparent 50%);
    }
}

@keyframes grow{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


@keyframes pinkBackground {
  0% {
    background: #396afc; 
    background: -webkit-linear-gradient(to right, #c87af8, #55cdff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c87af8, #55cdff);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  50% {
    background: #396afc; 
    background: -webkit-linear-gradient(to right, #c87af8, #55cdff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c87af8, #55cdff);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  }
  100% {
    background: #396afc; 
  background: -webkit-linear-gradient(to top, #c87af8, #55cdff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #c87af8, #55cdff);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg) ;
  }
}

@keyframes spinreverse {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(-360deg);
  }
}


@keyframes ethflutuante {
  0% {
    transform:rotate(0deg) scaleX(-1) translateY(20%);
  }
  50%{
    transform: rotate(360deg) scaleX(1)  translateY(-30%); 
  }
  100% {
         transform:rotate(360deg)  translateY(20%);
  }
}

@keyframes float{
  0%{
    transform: translateY(0%) ;
  }
  50%{
    transform: translateY(-20%);
    
  }
  100%{
    transform: translateY(0%);
  }
}


@keyframes float2{
  0%{
    transform: translateY(0%) rotateY(180deg) ;
  }
  50%{
    transform: translateY(-30%) rotateY(180deg) ;
    
  }
  100%{
    transform: translateY(0%) rotateY(180deg) ;
  }
}

@keyframes floatcubo0{
  0%{
    transform: translateY(0%);
  }
  50%{
    transform: translateY(-45%);
    
  }
  100%{
    transform: translateY(0%);
  }
}

@keyframes floatcubo1{
  0%{
    transform: translateY(0%);
  }
  50%{
    transform: translateY(-30%);
  }
  100%{
    transform: translateY(0%);
  }
}


@keyframes rotate{
  0%{
    transform: translateY(0%);
  }
  50%{
    transform: scaleX(-1);
  }
  100%{
    transform: translateY(0%);
  }
}



@keyframes hideon {
  from {
    transform: translatex(-1000px);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes hideonYt {
  from {
    transform: translateY(1000px);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  from {
    color: #55cdff;
  }
  to {
    color: #c87af8;
  }
}
